<?xml version="1.0" ?>
<!--
/**
 * Custom Bar Customer Group
 *
 * @package LeSite_CustomBar
 * @author Jonatan Machado <jonatanaxe@lesite.ca>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin disabled="false" name="LeSite_CustomBar_Plugin_Magento_Customer_CustomerData_Customer" sortOrder="10" type="LeSite\CustomBar\Plugin\Magento\Customer\CustomerData\Customer"/>
    </type>
</config>
