<?xml version="1.0"?>
<!--
/**
 * Custom Bar Customer Group
 *
 * @package LeSite_CustomBar
 * @author Jonatan Machado <jonatanaxe@lesite.ca>

 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="LeSite_CustomBar" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Checkout"/>
        </sequence>
    </module>
</config>
